.NaVBar {

    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050; /* Asegura que el navbar esté por encima de otros elementos */
    background-color: white; /* Evita transparencia al hacer scroll */


}

.NaVBar img {
    width: 80px;
    margin-left: 12px;
}

.navbar-toggler {
    background-color: rgb(255, 255, 255) !important;
    border: none !important;
    
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow:none !important;
  }

.me-auto a {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: #f3f3f3;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    transition: 0.3s;
    width: 100%;
    text-align: center;

}

.me-auto a:hover {
    background-color: #fa6d6d;
}