.Cartelera {
    /* Asegúrate de que .Cartelera o un contenedor padre tenga un ancho definido */
    overflow: hidden; /* Oculta el contenido que se desborda */
  }
  
  .Cartelera img {
    width: 100%;
    margin: 10px 0px;
    border-radius: 52px;
    padding: 21px;
    transition: transform 0.6s ease;
  }
  
  .Cartelera img:hover {
    transform: scale(1.1); /* Aumenta el tamaño interno de la imagen */
  }
  
  h3 {
    padding-top: 40px;
    text-align: center;
  }