/* Estilos generales */
* {
  font-family: 'Montserrat', sans-serif;
}

p {
  margin-bottom: 1px !important;
}

.ToWhatsApp {
    position: fixed;
    bottom: 20px;
    right: -65px;
    z-index: 1000;
    /* Asegura que el botón esté encima de otros elementos */
}

.ToWhatsApp a img {
    width: 60px;
}

.btn-wa {
    position: relative;
    bottom: 10px;
    right: 90px;
}

a img {
    width: 100px;
}

.btn-wa:before,
.btn-wa:after {
    content: "";
    position: absolute;
    top: -3px;
    left: 16px;
    width: 30px;
    height: 30px;
    opacity: 0;
    background-color: #258d25;
    border-radius: 50%;
    animation: onda 1.7s infinite;
}

.btn-wa::before {
    animation-delay: 1s;
}

.btn-wa::after {
    animation-delay: 1.5s;
}

.btn-wa img {
    position: relative;
    z-index: 2;
}

@keyframes onda {
    0% {
        transform: scale(1);
    }

    15% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}




@media (min-width: 768px) {
    .bannerHome h1 {
        font-size: 40px;
    }
    .bannerHome h6 {
        font-size: 16px;
    }
}


/* Estilos responsivos */
@media (max-width: 768px) {
  .Consultas form div {
    width: 100%;
  }

}

@media (min-width: 768px) {
  .input-with-icon i {
    display: none;
  }

}


@media (min-width: 1210px) {
  .viajes-container {
    margin: 0px 0px;
    padding: 0px 10px;
  }


  .containerConsultas {
    border-radius: 16px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(204, 204, 204, 0.39);
    background-color: #ffffff88;
  }

  .containerForm {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1px;
    }
  .formSarch {
    background-color: #ffffff00;

  }
  .Consultas {
    background-color: #ffffff00;
  }

}

@media screen and (min-width: 768px) {
  .navBar-background-image {
    height: 100%;
  }
}