.NaVBar {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050;
    background-color: white;
}

.navbar-toggler {
    background-color: rgb(255, 255, 255) !important;
    border: none !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}

.me-auto {
    display: flex;
    align-items: center;
    /* Alinea verticalmente los elementos */
}

.me-auto a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px !important;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    /* Ajusta el padding para centrar mejor */
    margin-top: 0;
    /* Elimina el margen superior innecesario */
    transition: 0.3s;
    text-align: center;
    white-space: nowrap;

}

.me-auto a:hover {
    background-color: #fa6d6d;
}

.navbar-brand {
    display: flex;
    align-items: center;
    /* Alinea verticalmente la imagen */
}

.navbar-brand img {
    padding-top: 4px;
    max-height: 40px;
    /* Ajusta la altura máxima de la imagen si es necesario */
}

/* Ajusta el espaciado entre los elementos del navbar */
.navbar-nav {
    align-items: center;
    /* Centra verticalmente los elementos en la navegación */
}

.navbar-nav .nav-link {
    padding-right: 1rem;
    /* Agrega espacio a la derecha de los enlaces */
}

.navbar-brand {
    /* Selector más específico */
    font-size: 14px !important;
    /* Usar !important como último recurso */
}

.navBarMe {
    border: 1px solid rgb(173, 173, 173);
    padding: 10px;
    padding: 10px;
    border-radius: 2px;
}


@media (max-width: 991px) {
    .navBarMe {
        border: none;
    }
  }