.custom-footer {
    background-color: #ffffff;
    padding: 20px 0 0 0;
    border-top: 1px solid rgb(233, 233, 233);
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
}

.carousel-item img {

    object-fit: contain;
    height: 90px;
    width: 90%;
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(240, 240, 240);
    border-top: 1px solid rgb(240, 240, 240);
}

.carousel-div {
    margin-bottom: -30px;
}

.footer-logo {
    text-align: center;
    width: 80px;
    margin-bottom: 20px;
}

.footer-info p {
    margin-top: 20px;
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 20px;
}





.copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(235, 235, 235);
    margin-top: 20px;
    color: #313131;
    font-size: 13px;
}



.footer-info {
    padding: 0 20px;
}



.footer-info {
    display: flex;
    flex-direction: column;
    /* Asegura que los elementos se apilen verticalmente */
    align-items: center;
    /* Centra los elementos verticalmente */
    padding: 0 20px;

}

.footer-logo {
    width: 80px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.email-form {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.email-form h4 {
    font-size: 14px;
}

.inputEmail {
    display: flex;
    width: 100%;
}

.inputEmail input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}


.inputEmail button {
    padding: 10px 15px;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.insta {
    width: 30px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .email-form {
        width: 90%;
        /* Aumenta el ancho en móviles */
    }

    .inputEmail {
        flex-direction: column;
        /* Cambia la dirección a columna en móviles */
    }

    .inputEmail input {
        border-radius: 4px;
        /* Bordes redondeados en móviles */
        margin-bottom: 10px;
        /* Espacio entre input y botón */
    }

    .inputEmail button {
        border-radius: 4px;
        /* Bordes redondeados en móviles */
    }
}