.preguntas-frecuentes h1 {
    font-size: 16px;
    text-align: center;
}

.preguntas-frecuentes h2 {
    font-size: 17px;
}

@media (min-width: 990px) {
    .infoGropu {

      display: grid;
      grid-template-columns: auto auto auto auto;
    }

  }